@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Triodion&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: rgb(0, 0, 0);
    font-family: var(--font-padrão);
}

* {
    margin: 0;
    padding: 0;
}

:root {
    --cor: #002BE7;
    --cor-hover: #002ae7a2;
    --cor1: #48320F;
    --cor2: #A97B3A;
    --cor2-sub: #b47c2e;
    --cor3: #825431;
    --cor4: #956133;
    --cor5-barra: #926E3A;
    --cor6-barra: #eccc7d3f;

    --font-padrão: 'Montserrat', serif;
    --font-secundaria: 'Triodion', serif;;
}

h1 {
    font-family: var(--font-secundaria);
}

header {
    background-color: rgb(0, 0, 0);
}

nav {
    display: flex;
    justify-content: space-between;
}

nav > #menu-options1, #menu-options2 {
    display: inline-flex;
    padding: 8px;
    align-items: center;
}

nav img {
    padding-top: 3px;
    padding-right: 5px;
    padding-left: 5px;
    width: clamp(90px, 10vw, 100px); 
}

a {
    font-size: clamp(0.6em, 0.7vw, 1em);
    font-weight: bold;
}

nav .n, .n1{
    text-decoration: none;
    border: 1px solid transparent;
    padding: 10px 20px;
    border-radius: 5px;
}

nav a {
    text-decoration: none;
    color: white;
}

nav .n1  {
    background-color: var(--cor);
    padding: 10px 30px;
    border: 1px solid transparent;
}

nav .n:hover {
    background-color: var(--cor1);
    border: 1px solid white;
    transition: background-color 0.2s ease, border 0.6s ease;
}

nav .n1:hover {
    background-color: var(--cor-hover);
    transition: background-color 0.5s ease;
}

#sub-container-section1 {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.37), rgba(0, 0, 0, 0.925)), url(imagens/papel-de-fundo/castelo.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
}

#cobertor {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 550px 0px 100px 0px;
}

.imagem-logo, .descrição {
    padding-left: 100px;
}

.imagem-logo img {
    width: clamp(300px, 35vw, 450px);
    padding-left: 50px;
    padding-top: 40px;
}

#vertical hr {
    position: absolute;
    bottom: 250px;
    left: 41%;
    border: 1px solid var(--cor6-barra);
    width: 20%;
    transform: rotate(90deg);
    transform: translate(-50% -50%); 
}

.descrição {
    line-height: 1.8em;
    color: white;
}

.descrição h1 {
    font-size: clamp(1.3em, 1.6vw, 1.8em);
    padding-bottom: 20px;
    color: var(--cor2);
}

.descrição p {
    font-size: clamp(0.9em, 1.2vw, 1.7em);
    padding-bottom: 40px;
}

.descrição a {
    background-color: var(--cor);
    padding: 15px 30px;
    color: white;
    border: 1px  solid transparent;
    border-radius: 5px;
    text-decoration: none;
}

.descrição a:hover {
    background-color: var(--cor-hover);
    transition: background-color 0.5s ease;
}

#img-container-section2 {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.37), rgba(0, 0, 0, 0.925)), url(imagens/papel-de-fundo/universo1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
}

.itens-flex {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-varinha {
    width: clamp(20px, 13vw, 180px);
}

.itens-flex h1 {
    font-family: var(--font-secundaria);
    font-size: clamp(1em, 2vw, 2.5em);
    color: var(--cor2-sub);
    padding: 0px 20px;
}

.ul-series1 {
    display: flex;
    column-gap: 3em;
    justify-content: center;
    text-align: center;
    padding-bottom: 20px;
}

.ul-series1 a, .ul-series2 a{
    color: white;
    text-decoration: none;
}

.ul-series1 a:hover, .ul-series2 a:hover{
    text-decoration: underline;
}

.imagem{
    border: 1px solid rgb(98, 0, 255);
    width: clamp(140px, 20vw, 250px);
}

.imagem:hover, .imagem2:hover{
    border: 1px solid var(--cor2);
    position: relative;
    bottom: 10px;
}


.img-container-section3 {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.575), rgba(0, 0, 0, 0.315)), url(imagens/papel-de-fundo/universo1.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
}

#img-container-section4 {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.575), rgba(0, 0, 0, 0.315)), url(imagens/papel-de-fundo/universo1.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
}

.ul-series2 {
    display: flex;
    justify-content: center;
    column-gap: 4em;
    text-align: center;
    padding-top: 10px;
}

.ul-series4 {
   columns: 3;
   text-align: center;
}

.ul-series4 li {
    padding: 10px;
}

.imagem2{
    border: 1px solid rgb(98, 0, 255);
    width: clamp(170px, 25vw, 400px);
}

#img-container-section5 {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.575), rgba(0, 0, 0, 0.836)), url(imagens/papel-de-fundo/castelo2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
}

.flex-row {
    display: flex;
    justify-content: center;
    position: relative;
}

.flex-row img{
   padding: 80px 0px 50px 0px;
}

#ul-footer1, #ul-footer2, #ul-footer3 {
    display: flex;
    justify-content: center;
}

#ul-footer1 li, #ul-footer2 li, #ul-footer3 li {
    padding: 10px;
    text-align: center;
}

#ul-footer1 a, #ul-footer2 a, #ul-footer3 a {
    color: white;
    text-decoration: none;
}

#ul-footer3 {
    padding: 0px 0px 80px 0px;
}